# Yahoo Finance / yfinance Python Package

Exploring the options available with yahoo finance and the yfinance python package

[yfinance](https://github.com/ranaroussi/yfinance)

Initial Impressions: 
- Plug and play with a given ticker is nice
- Returns as pandas dataframe with no need for conversions

Cons: 
- dividends method seems inconsistent if ticker.history() has been run. The dividends shown will then only be shown for dates within the specified time within the history
- Package testing seems to be lacking
- Limited development lately (~300 open issues and no resolution or work)
- No earnings data available? Bug or change in the Yahoo Finance API?

Major Methods: 
- history - Returns the open/high/low/close/volume for the specified asset over a time horizon
- actions - Shows any dividends or stock splits that occured

In [1]:
import yfinance as yf
import pandas as pd

In [38]:
# Gather historical data for microsfot
msft = yf.Ticker("MSFT")
msft.history().head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-02-16,244.466945,245.564423,242.361793,243.139999,26728500,0.00,0
2021-02-17,241.320007,244.309998,240.940002,244.199997,21653500,0.56,0
2021-02-18,241.800003,243.929993,240.860001,243.789993,16925600,0.00,0
2021-02-19,243.750000,243.860001,240.179993,240.970001,25262600,0.00,0
2021-02-22,237.419998,237.929993,232.399994,234.509995,36446900,0.00,0

In [39]:
# Get earnings data
msft.earnings

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [40]:
# Try a reset since the package seems to have inconsistencies whenever ticker.history() has been called
msft = yf.Ticker("MSFT")
msft.earnings

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []